<template>
  <div>
    <b-alert variant="danger" show>To jest w testach. Nieszczęśliwy psuje V2</b-alert>
    <h5>Bitwy</h5>
    <h6 v-if="provinceTime != null">Ostatnia aktualizacja: {{ provinceTime }}</h6>
    <b-row>
      <b-col>
        <div class="boxOfContent" v-if="clanAllBattles.length > 0">
          <b-row v-for="clanProvince in clanAllBattles" :key="clanProvince.provinceId" class="rowOfBoxMap">
            <b-img :src="'https://nouri.blue/maps/'+clanProvince.arenaId"></b-img>
            <b-col>
              {{ clanProvince.provinceName }}
            </b-col>
            <b-col>
              {{
                clanProvince.battleTime.getHours() + ":" + ((10 > clanProvince.battleTime.getMinutes()) ? '0' : '') + clanProvince.battleTime.getMinutes()
              }}
            </b-col>
            <b-col>
              {{ clanProvince.battleType }}
            </b-col>
            <b-button :href="'https://eu.wargaming.net/globalmap/' + clanProvince.uri" class="btn btn-primary btn-sm"
                      target="_blank">
              <i class="fas fa-binoculars"></i>
            </b-button>
          </b-row>
        </div>
        <div class="boxOfContent" v-else>
          <h6>brak danych</h6>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Battles",
  computed: {
    clanBattles() {
      return this.$store.getters.clanBattles
    },
    clanDefends() {
      return this.$store.getters.clanDefends
    },
    clanAllBattles() {
      let battles = this.pushClanBattles(this.clanBattles)
      battles = battles.concat(this.pushDefendBattles(this.clanDefends));
      battles = battles.sort((a, b) => (a.battleTime > b.battleTime) ? 1 : -1)
      return battles;
    },
    provinceTime() {
      let time = this.$store.getters.time;
      if(time){
        return time.get("RefreshProvinces");
      }
      return null;
    }
  },
  mounted() {
    this.$store.dispatch('FETCH_CLAN_BATTLES')
    this.$store.dispatch('FETCH_CLAN_DEFENDS')
    this.$store.dispatch('FETCH_TIME')
  },
  methods: {
    pushDefendBattles(defends) {
      let defendBattle = [];
      defends.forEach(el => {
        if (el.competitor.length + el.attacker.length > 0) {
          if(el.roundName == null){
            el.roundName = 1
          }
          defendBattle.push(
              this.getBattleObject(
                  el,
                  el.roundName + Math.floor((el.competitor.length + el.attacker.length)/2) -1,
                  "Obrona"
              )
          )
        }
      })
      return defendBattle;
    },
    pushClanBattles(battles) {
      let clanBattle = [];
      battles.forEach(el => {
        if(el.roundName == null){
          el.roundName = 1
        }
        if (el.competitor.length + el.attacker.length > 0) {
          let numberOfBattles = el.roundName + Math.floor((el.competitor.length + el.attacker.length)/2)
          for (let i = 0; i < numberOfBattles; i++) {
            clanBattle.push(this.getBattleObject(el, i, "Atak"))
          }
        }
      })
      return clanBattle;
    },
    getBattleObject(el, round, battleType) {
      return {
        arenaName: el.arenaName,
        arenaId: el.arenaId,
        provinceId: el.provinceId + round,
        provinceName: el.provinceName,
        battleType: battleType,
        battleTime: this.getDefendTime(round, el.primeTime),
        uri: el.uri
      }
    },
    getDefendTime(round, primeTime) {
      let dateTime = this.parseTime(primeTime.substring(0, 2), primeTime.substring(3, 5))
      dateTime.setMinutes(dateTime.getMinutes() + (round * 30))
      return dateTime;
    },
    parseTime(hours, min) {
      let dateTime = new Date(Date.now());
      dateTime.setHours(hours)
      dateTime.setMinutes(min)
      return dateTime;
    }
  }
}
</script>

<style scoped>

</style>