<template>
  <div>
    <b-alert variant="danger" show>To jest w testach. Nieszczęśliwy psuje</b-alert>
    <h5>Prowincje</h5>
    <h6 v-if="provinceTime != null">Ostatnia aktualizacja: {{ provinceTime }}</h6>
    <b-row>
      <b-col >
        <b-row v-for="clanProvince in clanProvinces" :key="clanProvince.provinceId" class="rowOfBoxMap">
            <b-img :src="'https://nouri.blue/maps/'+clanProvince.arenaId"></b-img>
            <b-col>
              {{ clanProvince.provinceName}}
            </b-col>
            <b-col>
              {{ clanProvince.primeTime.substring(0, 5)}}
            </b-col>
            <b-col>
              {{ clanProvince.dailyRevenue}}
              <b-img :src="'https://nouri.blue/public/gold.svg'"></b-img>
            </b-col>
            <b-button :href="'https://eu.wargaming.net/globalmap' + clanProvince.uri" target="_blank" class="btn btn-primary btn-sm">
              <i class="fas fa-binoculars" ></i>
            </b-button>
          </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "ClanProvinces",
  computed: {
    clanProvinces() {
      let provinces = this.$store.getters.clanProvinces;
      return provinces.sort((a, b) => (a.primeTime > b.primeTime) ? 1 : -1)
    },
    provinceTime(){
      let time = this.$store.getters.time;
      if(time){
        return time.get("RefreshProvinces");
      }
      return null;
    }
  },

  mounted() {
    this.$store.dispatch('FETCH_CLAN_PROVINCES')
    this.$store.dispatch('FETCH_TIME')
  }
}
</script>

<style scoped>
</style>