<template>
<added-clan-list :clans="clans" />
</template>

<script>
import AddedClanList from "@/components/findNewPeople/AddedClanList";

export default {
  name: "AddedClans",
  components: {AddedClanList},
  data: function () {
    return {
    }
  },

  mounted(){
    this.$store.dispatch('FETCH_CLANS')
  },

  computed: {
    clans() {
      return this.$store.getters.clans
    },
  }
}
</script>