<template>
  <div class="boxOfContent boxHeight boxScrolling">
    <div v-for="clan in clans" v-bind:key="clan.clanId">
      <div class="rowOfBox">
        <b-avatar rounded v-bind:src="clan.clanEmblem" class="mr-3 avatarColor"></b-avatar>
        [{{ clan.clanTag }}] {{ clan.clanName }}
        <b-button v-on:click="deleteClan(clan)" class="buttonRejectColorRow"><i class="fas fa-times"></i></b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddedClanList",
  props: ['clans'],

  methods: {
    deleteClan(clan) {
      this.$store.dispatch('DELETE_CLAN', clan.clanId).then(() =>
          this.$store.dispatch("DELETE_USERS_BY_CLAN_ID", clan.clanId)).then(() => this.$router.go())
    }
  }
}
</script>