<template>
  <div class="boxScrolling">
    <div v-for="clan in clans" v-bind:key="clan.clanId">
      <div class="rowOfBox">
        <b-avatar rounded v-bind:src="clan.clanEmblem" class="mr-3 avatarColor"></b-avatar>
        [{{ clan.clanTag }}] {{ clan.clanName }}
        <b-button v-on:click="addClan(clan)" class="buttonAcceptColorRow"><i class="fas fa-plus acceptColor"></i></b-button>
        </div>
        <b-toast variant="danger" :id="'toast'+clan.clanId" title="Błąd">
           Klan już jest dodany
        </b-toast>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClanList",
  props: ['clans'],
  data: function () {
    return {
      clanMembers: []
    }
  },
  computed: {
    actualUsers() {
      return this.$store.getters.actualUsers
    },
    addedClans() {
      return this.$store.getters.clans
    },
  },

  mounted() {
    this.$store.dispatch('FETCH_CLANS')
  },

  methods: {
    addClan(clan) {
      let isAdded = this.checkClan(clan);
      if(isAdded === 0){
        this.$store.dispatch('ADD_CLAN', clan)
        this.$store.dispatch('FETCH_CLAN_MEMBERS', clan.clanId)
            .then(() => this.$store.dispatch('ADD_CLAN_MEMBERS', this.actualUsers).then(() => this.$router.go()))
      } else{
          this.$bvToast.show('toast'+clan.clanId)
      }
    },

    checkClan(clan){
      let isAdded = 0;
      this.addedClans.forEach(el=>{
        if(el.clanId === clan.clanId){
          isAdded = 1;
        }
      })
      return isAdded
    }
  }
}
</script>