<template>
  <div>
    <h5>Wybór Klanów</h5>
    <div class="boxOfContent ">
      <b-container>
        <b-row>
          <b-input class="test1" v-model="clanName" placeholder="Wprowadź nazwę klanu"/>
          <b-button class="test2" v-on:click="findClans"><i class="fas fa-search"></i></b-button>
        </b-row>
      </b-container>
      <clan-list :clans="clans" class="test3"/>
    </div>
    <added-clans/>
  </div>
</template>

<script>
import ClanList from "@/components/findNewPeople/ClanList";
import AddedClans from "@/components/findNewPeople/AddedClans";

export default {

  name: "Clans",
  components: {AddedClans, ClanList},
  data: function () {
    return {
      clanName: null
    }
  },

  computed: {
    clans() {
      return this.$store.getters.foundedClans
    },
  },

  methods: {
    findClans() {
      this.$store.dispatch('FETCH_FOUNDED_CLANS', this.clanName)
    },
  }
}
</script>