<template>
  <div>
  <h5>Powiadomienia</h5>
  <div class="boxOfContent">
    <b-row v-for="notification in notifications" v-bind:key="notification.notificationId">
      <b-col>
      <b-row class="rowOfBox" v-if="notification.isAccepted">
        <b-col>
          {{ notification.date }} {{ notification.time }}
        </b-col>
        <b-col class="text-left" cols="8">
          Użytkownik <b>{{ notification.deleteUserName }}</b> został zaproszony przez {{notification.owner}}
        </b-col>
        <b-col class="text-right">
          <i class="fas fa-check" style="color: green"></i>
        </b-col>
      </b-row>
      <b-row class="rowOfBox" v-else>
        <b-col>
          {{ notification.date }} {{ notification.time }}
        </b-col>
        <b-col class="text-left" cols="8">
          Użytkownik <b> {{ notification.deleteUserName }}</b> został odrzucony przez {{notification.owner}}
        </b-col>
        <b-col class="text-right">
          <i class="fas fa-times" style="color: red"></i>
        </b-col>
      </b-row>
      </b-col>
    </b-row>
  </div>
  </div>
</template>

<script>
export default {
  name: "DeletedUserNotifications",
  computed: {
    notifications() {
      console.log(this.$store.getters.deletedUserNotifications)
      return this.$store.getters.deletedUserNotifications
    },
  },

  mounted() {
    this.$store.dispatch('FETCH_DELETED_USERS_NOTIFICATIONS')
  }
}
</script>

<style scoped>
</style>