<template>
  <div>
    <b-container fluid>
      <h5>Wolni ludzie </h5>
      <h6 v-if="memberTime != null">Ostatnia aktualizacja: {{ memberTime.get("RefreshDeletedMembers") }}</h6>
    <div style="width: 100%">
      <div class="boxOfContent" v-if="allDeletedUsers.length > 0">
        <table style="width: 100%">
          <thead>
          <tr class="text-center">
            <td><h6>#</h6></td>
            <td><h6>Nazwa</h6></td>
            <td><h6>Klan</h6></td>
            <td><h6>Ranga</h6></td>
            <td><h6>Data</h6></td>
            <td><h6>Wotlife</h6></td>
            <td><h6>Strona gracza</h6></td>
            <td><h6>Pokaż więcej</h6></td>
            <td><h6>Akceptuj</h6></td>
            <td><h6>Usuń</h6></td>
          </tr>
          </thead>
          <tbody v-for="(deletedUser, index) in allDeletedUsers" v-bind:key="deletedUser.userId">
          <tr class="rowOfBox text-center">
            <td>{{ index + 1 }})</td>
            <td>{{ deletedUser.userName }}</td>
            <td>{{ getClanTag(deletedUser.clanId) }}</td>
            <td>{{ deletedUser.userRoleName }}</td>
            <td>{{ deletedUser.date }}</td>
            <td>
              <BButton
                  :href='"https://pl.wot-life.com/eu/player/" + deletedUser.userName +"-" + deletedUser.userId'
                  target="_blank"><i class="far fa-chart-bar"></i></BButton>
            </td>
            <td>
              <BButton
                  :href='"https://worldoftanks.eu/pl/community/accounts/" +deletedUser.userId + "-" +  deletedUser.userName '
                  target="_blank">
                <i class="fas fa-address-card"></i>
              </BButton>
            </td>
            <td>
              <b-button v-b-toggle="'collapse-' + deletedUser.userId"><i class="fas fa-caret-down"></i></b-button>
            </td>
            <td>
              <b-button v-on:click="acceptDeleteUser(deletedUser.userId)"><i class="fas fa-check"></i></b-button>
            </td>
            <td>
              <b-button v-on:click="rejectDeleteUser(deletedUser.userId)"><i class="fas fa-times"></i></b-button>
            </td>
          </tr>
          <tr class="tankTable">
            <td colspan="10">
              <b-collapse :id="'collapse-' + deletedUser.userId" class="mt-2">
                <TankTable :tank-list="tanks" :user-id="deletedUser.userId"/>
              </b-collapse>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="boxOfContent" v-else>
        <h6>brak danych</h6>
      </div>
    </div>
  </b-container>
  </div>
</template>

<script>

import TankTable from "@/components/TankTable";
import VueCookies from "vue-cookies";
import jwtDecode from "jwt-decode";

export default {
  name: "DeletedUsers",
  components: {TankTable},
  data: function () {
    return {}
  },
  computed: {
    clansTags() {
      return this.$store.getters.clans
    },
    allDeletedUsers() {
      return this.$store.getters.allDeletedUsers
    },
    tanks(){
      return this.$store.getters.tanks
    },
    memberTime(){
      return this.$store.getters.time
    },
  },

  mounted() {
    this.$store.dispatch('FETCH_CLANS')
    this.$store.dispatch('FETCH_ALL_DELETED_USERS')
    this.$store.dispatch('FETCH_TANKS')
    this.$store.dispatch('FETCH_TIME')

  },

  methods: {

    getUserName(){
      let token = jwtDecode(VueCookies.get('ALOHA_TOKEN'))
      return token.sub;
    },
    rejectDeleteUser(userId) {
      this.$store.dispatch('REJECT_DELETE_USER_BY_USER_ID', {userId: userId , owner: this.getUserName()}).then(() => this.$store.dispatch('FETCH_ALL_DELETED_USERS'))
    },

    acceptDeleteUser(userId) {
      this.$store.dispatch('ACCEPT_DELETE_USER_BY_USER_ID', {userId: userId , owner: this.getUserName()}).then(() => this.$store.dispatch('FETCH_ALL_DELETED_USERS'))
    },

    getClanTag(clanId) {
      let tag = "Brak"
      this.clansTags.forEach(el => {
            if (el.clanId === clanId) {
              tag = el.clanTag
            }
          }
      )
      return tag
    }
  }
}
</script>