<template>
  <b-sidebar visible :bg-variant="'dark'" :width="'280px'" right no-close-on-route-change no-close-on-esc no-close-on-backdrop no-header-close>
    <div class="mapsPickerRow" v-on:click="getTankSrc('lightTank.png')">Lekki</div>
    <div class="mapsPickerRow" v-on:click="getTankSrc('heavyTank.png')">Heavy</div>
    <div class="mapsPickerRow" v-on:click="getTankSrc('mediumTank.png')">Medium</div>

    <div class="mapsPicker">
      <div class="mapsPickerRow" v-for="map in maps" :key="map.mapName" v-on:click="getMapUrl(map.mapSrc)">
        {{ map.mapName }}
      </div>
    </div>

  </b-sidebar>
</template>

<script>
export default {
name: "TacticSideBar",
  data: function () {
    return {
      maps: [
        {
          "mapName" : "Kopalnie",
          "mapSrc" : "mines"
        },
        {
          "mapName" : "Prochorowka",
          "mapSrc" : "phrokorovka"
        },
      ],

    }
  },
  methods:{
    getMapUrl(mapSrc){
      this.$store.dispatch('SET_ACTUAL_MAP', 'https://nouri.blue/public/' + mapSrc)
    },
    getTankSrc(tacticTank){
      this.$store.dispatch('SET_ACTUAL_TANK', 'https://wotstats.org/images/game/' + tacticTank)
    }
  }
}
</script>

<style scoped>
.mapsPicker{
  height: 200px;
  background-color: #4a4a4f;
  overflow: auto;
}
.mapsPickerRow{
  margin: 10px;
  background-color: #51515b;
  color: #FFFFFF;
  cursor: pointer;
}
</style>