<template>
  <div>
    <TacticSideBar/>
    <div class="col-12 map">
      <l-map id="tacticMap"
             :options="{zoomControl: false, dragging: false, scrollWheelZoom:false, doubleClickZoom	:false}"
             :crs="crs"
             v-on:click="takeCords">
        <l-image-overlay
            :bounds="bounds"
            :url="tacticMap"
        ></l-image-overlay>
        <div v-for="(marker, index) in markers" :key="index">
          <l-marker :lat-lng="marker.coords" :draggable="marker.drag" :icon="marker.icon"></l-marker>
        </div>
        <div v-for="(circleMarker, index) in pingMarkers" :key="index">
          <l-circle-marker :lat-lng="circleMarker.coords" :radius="circleMarker.radius" :color="circleMarker.color" />
        </div>
      </l-map>
    </div>
  </div>
</template>

<script>
import TacticSideBar from "@/components/tactic/TacticSidebar";
import L from 'leaflet';
import {LMap, LImageOverlay, LMarker, LCircleMarker} from 'vue2-leaflet';
import 'leaflet/dist/leaflet.css'

export default {
  name: "TacticRoom",
  data: function () {
    return {
      markers: [],
      bounds: [[380, -380], [-380, 380]],
      crs: L.CRS.Simple,
      pingMarkers: []
    }
  },
  components: {
    LMap,
    TacticSideBar,
    LImageOverlay,
    LMarker,
    LCircleMarker
  },

  computed: {
    tacticMap() {
      return this.$store.getters.tacticMap
    },
    tacticTank() {
      return this.$store.getters.tacticTank
    }
  },
  methods: {
    takeCords: async function (e) {
      console.log(e.latlng)
      this.pingMarkers.push({"coords": e.latlng, "radius": 5, "color": 'red'});
      await this.sleep(2000)
      this.pingMarkers.shift()
      //this.markers.push({"coords": e.latlng, "drag": true, "icon": this.getIcon()});
    },
    getIcon(){
      return L.icon({
        iconUrl: this.$store.getters.tacticTank,
        iconSize: [32, 37],
        iconAnchor: [16, 37]
      })
    },
    getCirclePing(){
      return L.circle([51.508, -0.11], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
      })
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
  }

}
</script>

<style scoped>
.map {
  height: 90vh;
  width: 70vw;
}

</style>