<template>
  <b-button
      @click="logout()"><i class="fas fa-sign-out-alt"></i>
  </b-button>
</template>

<script>
export default {
name: "LogoutButton",

  methods:{
    logout(){
      this.$cookies.remove('ALOHA_TOKEN')
      this.$router.push("/notLoggedErrorPage")
    }
  }
}
</script>

<style scoped>

</style>