<template>
    <b-sidebar visible :bg-variant="'dark'" :width="'280px'" no-close-on-route-change no-close-on-esc no-close-on-backdrop no-header-close>
      <template #header>
       <h3 style="color: #FFFFFF">AL0HA</h3>
      </template>

      <div class="sidebarItem" v-on:click="$router.push('/').catch(()=>{});">
        <i class="fas fa-home m-lg-3"></i>Home
      </div>
      <div class="sidebarItem" v-b-toggle="'collapse'">
        <i class="fas fa-user-plus fa-fw m-lg-3"></i>Rekrutacja
      </div>
      <b-collapse id="collapse">
        <div class="collapseItem" v-on:click="$router.push('/clans').catch(()=>{});">
          <i class="fas fa-users fa-fw m-lg-3"></i>Klany
        </div>
        <div class="collapseItem" v-on:click="$router.push('/deletedUsers').catch(()=>{});">
          <i class="fas fa-user m-lg-3"></i>Wolni ludzie
        </div>
        <div class="collapseItem" v-on:click="$router.push('/notifications').catch(()=>{});">
          <i class="fas fa-bell m-lg-3"></i>Powiadomienia
        </div>
      </b-collapse>
      <div class="sidebarItem" v-b-toggle="'collapseBattles'">
        <i class="fas fa-map fa-fw m-lg-3"></i>Mapa Globalna
      </div>
      <b-collapse id="collapseBattles">
        <div class="collapseItem" v-on:click="$router.push('/clanProvinces').catch(()=>{});">
          <i class="fas fa-map-signs fa-fw m-lg-3"></i>Prowincje
        </div>
        <div class="collapseItem" v-on:click="$router.push('/battles').catch(()=>{});">
          <i class="fas fa-chess fa-fw m-lg-3"></i>Bitwy
        </div>
      </b-collapse>
      <div class="sidebarItem" v-b-toggle="'collapseAbsence'">
        <i class="fas fa-stream fa-fw m-lg-3"></i>Urlopy
      </div>
      <b-collapse id="collapseAbsence">
        <div class="collapseItem" v-on:click="$router.push('/absence').catch(()=>{});">
          <i class="fas fa-stream fa-fw m-lg-3"></i>Wszystkie urlopy
        </div>
        <div class="collapseItem" v-on:click="$router.push('/addAbsence').catch(()=>{});">
          <i class="fas fa-plus-square fa-fw m-lg-3"></i>Dodaj urlop
        </div>
      </b-collapse>

<!--      <div class="sidebarItem" v-on:click="$router.push('/tacticRoom').catch(()=>{});">-->
<!--        <i class="fas fa-map-marked-alt m-lg-3"></i>Taktyka-->
<!--      </div>-->
      <template #footer>
        <b-row width="100px">
          <b-col>
            <p style="color: #FFFFFF" class="m-2" v-if="user != null">{{ user.sub }}</p>
          </b-col>
          <b-col >
            <LogoutButton />
          </b-col>
        </b-row>
      </template>

    </b-sidebar>

</template>
<script>
import LogoutButton from "@/components/LogoutButton";
import jwtDecode from "jwt-decode";
import VueCookies from "vue-cookies";
export default {
  name: "Sidebar",
  components: {LogoutButton},
  data: function () {
    return {
      user: null
    }
  },
  mounted(){
    this.user = jwtDecode(VueCookies.get('ALOHA_TOKEN'))
  }
};
</script>

<style scoped>
.sidebarItem{
  border-bottom: 2px solid #4a4a4c;
  color: white;
  cursor: pointer;
}

.collapseItem{
  background-color: #4a4a4c;
  border-bottom: 2px solid #373636;
  color: white;
  cursor: pointer;
}


.sidebarItem:hover{
  background-color: #51515b;
  border-bottom: 2px solid #989898;
  color: white;
  cursor: pointer;
}
</style>
