<template>
      <div id="chart1">
        <apexchart type="line" height="230" :options="chartOptionsArea" :series="series"/>
      </div>
</template>

<script>
import Vue from "vue";

import VueApexCharts from "vue-apexcharts";
Vue.use(VueApexCharts);
Vue.component("apexchart", VueApexCharts);

export default {
  name: "StatisticChart",
  props:['dates', 'abra', 'reversed', 'labelName'],
  data: function() {
    return {
      series: [
        {
          name: this.labelName,
          data: this.generateChartValues()
        }
      ],
      chartOptionsArea: {
        chart: {
          id: "chartArea",
          locales: [{
            "name":"pl",
            "options": {
              "months":["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień","Wrzesień", "Październik", "Listopad", "Grudzień"],
              "shortMonths": ["STY", "LUT", "MAR", "KWI", "MAJ", "CZE", "LIP", "SIE", "WRZ", "PAŹ", "LIS", "GRU"],
              "days": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
              "shortDays": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
              "toolbar": {
                "exportToSVG": "Pobierz SVG",
                "exportToPNG": "Pobierz PNG",
                "menu": "Menu",
                "selection": "Selection",
                "selectionZoom": "Zoom",
                "zoomIn": "Przybliż",
                "zoomOut": "Oddal",
                "pan": "Przesuń",
                "reset": "Reset Zoom"
              }
            }
          }],
          defaultLocale: 'pl',
        },
        xaxis: {
          type: "datetime"
        },
        yaxis:{
          reversed: this.reversed
        },
        tooltip:{
          y: {
            formatter: undefined,
            title: {
              formatter: (seriesName) => seriesName,
            },
          },
        },
        markers:{
          colors: '#0037f8'
        }
      }
    };
  },

  methods: {
    generateChartValues: function() {
      let series = [];

      for (let i = 0; i < this.dates.length; i++){
        series.push([this.dates[i], this.abra[i]])
      }
      console.log(series)
      return series;
    }
  }
};
</script>

<style scoped>
</style>
