<template>
  <div>
    <table class="tankTable">
      <thead>
      <tr class="tankHeader">
        <td></td>
        <td>Nazwa</td>
        <td>DMG</td>
        <td>Ilość bitew</td>
      </tr>
      </thead>
      <tbody style="overflow: auto; height: 300px">
      <tr v-for="tank in tanks" v-bind:key="tank.tankId" :class="{premiumTank: tank.isPremium, requiredTank: tank.isRequired}">
        <td style="width:20%">
          <b-img v-bind:src="tankList[tank.tankId].images.contour_icon" class="mr-3"></b-img>
        </td>
        <td style="width:50%">{{ tankList[tank.tankId].name }}</td>
        <td style="width:20%">{{ tank.avgDmg }}</td>
        <td style="width:10%">{{ tank.battles }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "TankTable",
  data: function () {
    return {
      tanks: []
    }
  },
  props: ['tankList', 'userId'],
  mounted() {
    this.getTanks().then(el => {
      this.tanks = el.sort((a, b) => (a.avgDmg < b.avgDmg) ? 1 : -1)
    })
  },
  methods: {
    getTanks() {
      let tankXTier = [20225, 32001, 3473, 12305, 6193, 15425, 7169, 19473, 13569, 15617, 8705, 5265, 16913, 16897, 3649, 50849, 6209, 14113, 7249, 2721, 5505,
        9233, 9297, 4145, 8481, 61697, 63537, 13825, 2433, 20993, 14881, 13905, 4737, 17217, 55841, 16961, 58369, 19489, 6225, 13857, 2977, 21761, 8497, 17729,
        12369, 6929, 22017, 15905, 13889, 3681, 57937, 19217, 15953, 3937, 22273, 11841, 6145, 10785, 9489, 14609, 58961, 5425, 15697, 58641, 2417, 19985, 19009, 19969,
        46849, 12049, 5937, 13089, 19201]

      return new Promise((resolve, reject) => {
        let userTank = []
        axios.get('https://api.worldoftanks.eu/wot/tanks/stats/?application_id=' + process.env.VUE_APP_APPLICATION_ID + '&account_id='
            + this.userId
            + '&extra=random&fields=+tank_id%2C+random.battles%2C+random.damage_dealt&tank_id='
            + tankXTier).then(response => {
          userTank = response.data.data[this.userId].map(el => {
            let isPremium = 0;
            let isRequired = 0;
            if (el.tank_id === 15617
                || el.tank_id === 46849
                || el.tank_id === 57937
                || el.tank_id === 58369) {
              isPremium = 1;
            }

            if(el.tank_id === 3681
              || el.tank_id === 5265
              || el.tank_id === 8481
              || el.tank_id === 8705
              || el.tank_id === 9233
              || el.tank_id === 9489
              || el.tank_id === 12369
              || el.tank_id === 14609
              || el.tank_id === 16897
              || el.tank_id === 19009
              || el.tank_id === 22017){
              isRequired = 1
            }

            let avgDmg = 0

            if(el.random.battles > 0){
              avgDmg = Math.floor(el.random.damage_dealt / el.random.battles)
            }

            return {
              tankId: el.tank_id,
              avgDmg: avgDmg,
              battles: el.random.battles,
              isPremium: isPremium,
              isRequired: isRequired,
            }
          })

          resolve(userTank)

        }).catch(err => reject(err))
      })
    }
  }

}


</script>

<style scoped>
.tankHeader {
  background: rgba(220, 220, 230, 0.87);
}

.premiumTank {
  background-color: #feffbd;
}

.requiredTank{
  background-color: #c4fff8;
}

</style>