<template>
  <b-container fluid class="text-center">
    <b-row class="m-2 p-2">
      <b-col>
        <h6>Zapraszamy do kontaktu z tymi osobami:</h6>
      </b-col>
    </b-row>
    <b-row class="m-2 p-2">
      <b-col>
        <h6>Odnośnie klanu:</h6>
      </b-col>
      <b-col>
        <h6>Problemy techniczne:</h6>
      </b-col>
    </b-row>
    <b-row class="m-2 p-2">
      <b-col style="border-right: 2px solid black">
        Wotix<br>
        NyguS<br>
        Impostor_Dawid
      </b-col>
      <b-col>
        JUST_NOT_HAPPY<br>
        Nourish_The_Mines_KEKW
      </b-col>
    </b-row>
  </b-container>

</template>

<script>
export default {
name: "ContactErrorPage"
}
</script>

<style scoped>

</style>