<template>
  <b-container fluid class="boxOfContent text-center">
    <b-row>
      <b-col>
        <img src="@/assets/cross.png" class="mx-auto d-block" height="128" width="128"/>
        <hr/>
        <h6 class="">Witaj, wygląda na to że nie jesteś jednym z nas!
          <br>
          Panel dostępny tylko dla osób z klanu ALOHA</h6>
        <br>

        <LogoutButton />
      </b-col>
    </b-row>
    <ContactErrorPage/>
  </b-container>
</template>

<script>
import ContactErrorPage from "@/components/errorPage/ContactErrorPage";
import LogoutButton from "@/components/LogoutButton";
export default {
  name: "NotInClanErrorPage",
  components: {ContactErrorPage, LogoutButton},
  methods: {
  }
}
</script>

<style scoped>
hr {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}
</style>