<template>
<div>
  <b-container fluid class="boxOfContent text-center">
    <b-row>
      <b-col>
      <img src="@/assets/cross.png" class="mx-auto d-block" height="128" width="128"/>
      <hr style=""/>
      <h6 class="">Wygląda na to, że nie jesteś zalogowany.</h6>
      <br>
      <b-button
          :href="getLink()">Zaloguj
      </b-button>
      </b-col>
    </b-row>
    <ContactErrorPage />
  </b-container>
</div>
</template>

<script>
import ContactErrorPage from "@/components/errorPage/ContactErrorPage";
export default {
name: "NotLoggedErrorPage",
  components: {ContactErrorPage},
  methods: {
    getLink(){
      return 'https://api.worldoftanks.eu/wot/auth/login/?application_id=0456250972a564c61bbabbe9901f2847&redirect_uri='
          + process.env.VUE_APP_BACKEND_URL + '/login'
    }
  }
}
</script>

<style scoped>
hr {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}
</style>