<template>
  <div>
    <b-container fluid class="boxOfContent text-center">
      <b-row>
        <b-col>
          <img src="@/assets/cross.png" class="mx-auto d-block" height="128" width="128"/>
          <hr style=""/>
          <h6 class="">Wygląda na to, że nie masz uprawnień do przeglądania zawartości</h6>
          <br>
          <b-button
              @click="back()">Wróć do domu
          </b-button>
        </b-col>
        <ContactErrorPage/>
      </b-row>

    </b-container>
  </div>
</template>

<script>
import ContactErrorPage from "@/components/errorPage/ContactErrorPage";
export default {
  name: "NotPermissionErrorPage",
  components: {ContactErrorPage},
  methods: {
    back() {
      this.$router.push("/")
    }
  }
}
</script>

<style scoped>
hr {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}
</style>