<template>
    <div id="app" class="appView">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
      <b-container fluid class="appHeight">
        <b-row class="appHeight">
          <Sidebar v-if="getValidateSidebar()" />
          <b-container>
            <router-view></router-view>
          </b-container>
        </b-row>
      </b-container>
    </div>
</template>
<script>
import Sidebar from "@/components/Sidebar";
import jwtDecode from "jwt-decode";
import VueCookies from "vue-cookies";
export default {
  name: 'App',
  components: {
    Sidebar,
    //Navbar
  },
  methods:{
    getValidateSidebar() {
      if(VueCookies.get('ALOHA_TOKEN') !== null){
        let token = jwtDecode(VueCookies.get('ALOHA_TOKEN'))
        if( VueCookies.get('ALOHA_TOKEN') && token.userRoleId !== 0){
          return 1;
        }else{
          return 0;
        }
      } else {
        return 0;
      }
    }
  }
}
</script>

<style>
.appView{
  background: #F7F8FC;
  height: 100%;
}

</style>
