.rowOfBox{
  background: #E8E8E8;
  border: 2px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3px;
  margin: 7px;
}

.rowOfBoxMap{
  background: #E8E8E8;
  border: 0px solid black;
  margin: 10px;
}

.boxOfContent{
  padding: 3px;
  margin: 7px;
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;

}

.boxScrolling{
  overflow: auto;
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  max-height: 350px;
}

.boxHeight{
  height: 350px;
}

.appHeight{
  height: 100%;
}

html, body{
    height: 100%;
}

.buttonAcceptColorRow{
  background-color: #E8E8E8;
  color: green;
  float: right;
}

.buttonRejectColorRow{
  background-color: #E8E8E8;
  color: red;
  float: right;
}

.test1{
  width: 95%;
}

.test2{
  width: 5%;
}

.avatarColor{
  background-color: #E8E8E8
}

.tankTable{
  width: 100%;
}

.tankRow{
  border: #212121 solid 1px;
}