<template>
  <div >
    <h5>Home</h5>
    <b-row>
      <b-col class="d-flex justify-content-center">
        <div class="boxOfContent w-75 text-center">
          <h4>ELO:</h4>
          <h6>{{ statisticValue[0] }}</h6>
        </div>
      </b-col>
      <b-col class="d-flex justify-content-center">
        <div class="boxOfContent w-75 text-center">
          <h4>Delta ELO:</h4>
          <h6>{{ statisticValue[0] - statisticValue[1]}}</h6>
        </div>
      </b-col>
      <b-col class="d-flex justify-content-center">
        <div class="boxOfContent w-75 text-center">
          <h4>Ranking:</h4>
          <h6>{{ statisticRank[0]}}</h6>
        </div>
      </b-col>
      <b-col class="d-flex justify-content-center">
        <div class="boxOfContent w-75 text-center">
          <h4>Delta:</h4>
          <h6>{{ statisticDelta[0]}}</h6>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="boxOfContent">
          <StatisticChart :dates="statisticDate" :abra="statisticValue" :reversed="false" :labelName="'ELO'"/>
        </div>
      </b-col>
      <b-col>
        <div class="boxOfContent">
          <StatisticChart :dates="statisticDate" :abra="statisticRank" :reversed="true" :labelName="'Pozycja'"/>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import StatisticChart from "@/components/StatiscticChart";
export default {
name: "ClanPage",
  components: {StatisticChart},
  mounted(){
    this.$store.dispatch('FETCH_CLAN_STATISTIC')
  },

  computed: {
    statisticDate() {
      return this.$store.getters.clanStatistic.map(el=> el.date)
    },
    statisticValue() {
      return this.$store.getters.clanStatistic.map(el=> el.value)
    },
    statisticRank() {
      return this.$store.getters.clanStatistic.map(el=> el.rank)
    },
    statisticDelta() {
      return this.$store.getters.clanStatistic.map(el=> el.rankDelta)
    },
  }
}
</script>

<style scoped>
.red{
  color: red;
}
.green{
  color: green;
}
</style>