<template>
  <div>
    <b-alert variant="danger" show>Zabawa i głupie teksty w opisie = 12h na ts</b-alert>
    <h5>Dodaj Urlop</h5>
    <b-col class="d-flex justify-content-center">
      <b-row>
        <b-col class="boxOfContent">
          <b-row class="p-2 m-2">
            <h6 v-if="user != null">Użytkownik: {{ user.sub }}</h6>
          </b-row>
          <b-row class="p-2 m-2" >
            <date-picker v-model="time" range style="width: 500px"></date-picker>
          </b-row>
          <b-row class="p-2 m-2">
            <b-form-textarea
                id="textarea"
                v-model="text"
                placeholder="Wpisz powód"
                rows="6"
                max-rows="6"
                style="width: 500px"
            ></b-form-textarea>
          </b-row>
          <b-row class="test3 p-2 m-2">
            <b-button @click="sendAbsence()">Wyślij</b-button>
          </b-row>
        </b-col>
      </b-row>
      <b-toast variant="danger" :id="'toast'" title="Błąd">
        Uzupełnij poprawnie dane
      </b-toast>
      <b-toast variant="danger" :id="'toast2'" title="Błąd">
        Za długi opis :)
      </b-toast>
    </b-col>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import jwtDecode from "jwt-decode";
import VueCookies from "vue-cookies";
export default {
  name: "AddAbsence",
  components: {DatePicker},
  data() {
    return {
      time: null,
      text: null,
      user: null
    };
  },
  mounted(){
    this.user = jwtDecode(VueCookies.get('ALOHA_TOKEN'))
  },
  methods:{
    sendAbsence(){
      if(this.time != null && this.text != null){
        if(this.text.length > 254){
          this.$bvToast.show('toast2')
        }else {
          this.$store.dispatch('ADD_ABSENCE', this.prepareData()).then(() => {
            this.$router.push("/absence")
          })
        }
      } else{
        this.$bvToast.show('toast')
      }
    },
    prepareData(){
      return {
        clanMemberId: this.user.accountId,
        startAbsence: this.time[0],
        endAbsence: this.time[1],
        description: this.text
      }
    }
  }
}
</script>

<style scoped>
.test3{
  justify-content: flex-end;
}
</style>