<template>
<div>
  <h5>Urlop</h5>
  <b-col class="d-flex justify-content-center">
    <b-row style="width: 100%">
      <div v-if="absences.length > 0" style="width: 100%" class="boxOfContent">
        <table style="width: 100%" cols="12">
          <thead>
          <tr class="text-center">
            <td><h6>#</h6></td>
            <td><h6>Nazwa użytkownika</h6></td>
            <td><h6>Wystawiony</h6></td>
            <td><h6>Start</h6></td>
            <td><h6>Koniec</h6></td>
          </tr>
          </thead>
          <tbody v-for="(absence, index) in absences" v-bind:key="absence.absenceId">
          <tr class="rowOfBox text-center">
            <td><h6>{{ index + 1 }}</h6></td>
            <td><h6>{{ absence.clanMember.userName }}</h6></td>
            <td><h6>{{ absence.timeOfSend }}</h6></td>
            <td><h6>{{ absence.startAbsence }}</h6></td>
            <td><h6>{{ absence.endAbsence }}</h6></td>
          </tr>
          <tr>
            <td colspan="5">
             Opis: {{ absence.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-else style="width: 100%">
        <b-alert variant="info" show>Brak urlopów :)</b-alert>
      </div>
    </b-row>
  </b-col>
</div>
</template>

<script>
export default {
name: "ShowAllAbsences",
  computed: {
    absences() {
      return this.$store.getters.absence
    },
  },
  mounted() {
    this.$store.dispatch('FETCH_ALL_ABSENCE')
  }
}
</script>

<style scoped>

</style>